In [1]:
import pyspark
from pyspark.sql import SparkSession
# spark = SparkSession.builder.getOrCreate()
spark = SparkSession.builder.master("local[1]").appName("SparkPractice").getOrCreate()

In [2]:
spark

In [16]:
# read csv file
df_test = spark.read.csv('test_1.csv', header=True, inferSchema=True)

In [17]:
df_test.show()

+------+---+-------+
|  Name|Age|Address|
+------+---+-------+
|   Jay| 23|  Ajmer|
|Manish| 19| Jaipur|
|  Oman| 11|  Ajmer|
|  Yuzi| 30|  Noida|
| Virat| 36|  Delhi|
+------+---+-------+

In [18]:
# type of pyspark dataframe
type(df_test)

pyspark.sql.dataframe.DataFrame

In [19]:
df_test.head(n=3)

[Row(Name='Jay', Age=23, Address='Ajmer'),
 Row(Name='Manish', Age=19, Address='Jaipur'),
 Row(Name='Oman', Age=11, Address='Ajmer')]

In [20]:
df_test.tail(num=3)

[Row(Name='Oman', Age=11, Address='Ajmer'),
 Row(Name='Yuzi', Age=30, Address='Noida'),
 Row(Name='Virat', Age=36, Address='Delhi')]

In [21]:
# Check the schema
df_test.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Address: string (nullable = true)

In [23]:
# selecting columns
df_test.select('Age').show()

+---+
|Age|
+---+
| 23|
| 19|
| 11|
| 30|
| 36|
+---+

In [24]:
type(df_test.select('Age'))

pyspark.sql.dataframe.DataFrame

In [26]:
# select multiple rows
df_test.select(['Name', 'Address']).show()

+------+-------+
|  Name|Address|
+------+-------+
|   Jay|  Ajmer|
|Manish| Jaipur|
|  Oman|  Ajmer|
|  Yuzi|  Noida|
| Virat|  Delhi|
+------+-------+

In [28]:
# check datatypes of columns
df_test.dtypes

[('Name', 'string'), ('Age', 'int'), ('Address', 'string')]

In [30]:
# describe option like pandas
df_test.describe().show()

+-------+----+----------------+-------+
|summary|Name|             Age|Address|
+-------+----+----------------+-------+
|  count|   5|               5|      5|
|   mean|null|            23.8|   null|
| stddev|null|9.67987603226405|   null|
|    min| Jay|              11|  Ajmer|
|    max|Yuzi|              36|  Noida|
+-------+----+----------------+-------+

In [39]:
# Adding Columns
df_test1 = df_test.withColumn(colName='Experience', col=df_test.Age - 11)
df_test1.show()

+------+---+-------+----------+
|  Name|Age|Address|Experience|
+------+---+-------+----------+
|   Jay| 23|  Ajmer|        12|
|Manish| 19| Jaipur|         8|
|  Oman| 11|  Ajmer|         0|
|  Yuzi| 30|  Noida|        19|
| Virat| 36|  Delhi|        25|
+------+---+-------+----------+

In [41]:
### Drop the column
df_test1_col_drop = df_test1.drop('Experience')
df_test1_col_drop.show()

+------+---+-------+
|  Name|Age|Address|
+------+---+-------+
|   Jay| 23|  Ajmer|
|Manish| 19| Jaipur|
|  Oman| 11|  Ajmer|
|  Yuzi| 30|  Noida|
| Virat| 36|  Delhi|
+------+---+-------+

In [42]:
### Rename the Columns
df_test2 = df_test.withColumnRenamed(existing='Address', new='location')
df_test2.show()

+------+---+--------+
|  Name|Age|location|
+------+---+--------+
|   Jay| 23|   Ajmer|
|Manish| 19|  Jaipur|
|  Oman| 11|   Ajmer|
|  Yuzi| 30|   Noida|
| Virat| 36|   Delhi|
+------+---+--------+